/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: steelblue}
.info_container {
  height: 78%;
  width: 90%;
  margin: auto;
  align-items: center;
  background-color: whitesmoke;
  border: solid black 2px;
}
